header .bizgorseli1{
    width: 100%;
    height: 10%;
}

.aciklama{
    display: flex;
    justify-content: center; 
    gap: 20px;               
    padding: 20px;
    flex-wrap: wrap;

}

.gorsel{
    margin-top: 100px;
    margin-left: 30px;
    width: 400px;             
    padding: 30px 15px;
    border-radius: 10px;       
}


.yazi{
     margin-top: 100px;
    margin-left: 30px;
    width: 400px;             
    padding: 30px 15px;
    border-radius: 10px; 
}

.yazi h3{
    font-family: "Satisfy", cursive
}