/* Google fonts including area */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');




/* Google fonts usage area 

*Regular type: 
   font-family: "Josefin Sans", sans-serif;
   font-family: "Arvo", serif;

*Italic type: 
    font-family: "Pacifico", cursive;
    font-family: "Satisfy", cursive;
    font-family: "Dancing Script", cursive;

*Monospace type :
    font-family: "Ubuntu Mono", monospace;

