footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}


.footer-top-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.footernav{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.footer h1{
    font-family: "Satisfy", cursive;

}

.footer h3,h2{
    font-family: "Satisfy", cursive;

}