.header{
    width: 100%; 
}
.header img.background{
    width: 100%;
    height: 30%;
    object-fit: cover;

}
.header img.yorum{
    width: 100%;
    margin-top: 70px;

}

.header h1{
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 3.4rem;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 4);
}

/*Scroll animation*/

.header{
    transform: translateX(-30px);
    transition: all 0.5s;
    opacity: 0;
}

.header.active{
    transform: translateX(0px);
    opacity: 1;
}
