.cesitler{
      display: flex;
    justify-content: center; 
    gap: 100px;               
    padding: 40px;
    flex-wrap: wrap;
}

.espresso, .yoresel, .frozen, .milkshake, .smoothie, .soguk, .sıcak, .ıce, .s1{
    width: 180px;
    height: 220px;
    border-style: solid;
    padding:5px 15px;
    position: relative;
    overflow: hidden;
}
h3{
    text-align: center;
}

.sicak{
    display: flex;
    justify-content: center; 
    gap: 100px;               
    padding: 40px;
    flex-wrap: wrap;
}

.fiyat{
    text-align: center;
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2); 
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 0; 
  transition: opacity 0.4s ease;
  pointer-events: none;

}

.s1:hover img {
  filter: blur(5px);
}

.s1:hover .fiyat {
  opacity: 1;
}