header .subegorsel img{
    width: 100%;
    height: 10%;
}

.subeler{
    display: flex;
    justify-content: center; 
    gap: 100px;               
    padding: 20px;
    flex-wrap: wrap;
}

.sube1,.sube2,.sube3,.sube4,.sube5,.sube6{
    border-style: solid;
    background-color: rgb(181, 170, 158);

    width: 100px;             
    padding: 30px 15px;
    text-align: center;
    border-radius: 10px;       
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: space-between;
}